
html
    include resetPasswordMailFormStyle.pug
    body
        div.container
            div.shadow
                h1 Forgot your password?
                div.divBlock That okay, it happens! Click on the button below to reset your password.
                a(class='button' href=`${url}${resetUrl}`) Reset your password
