style(type="text/css").
    .divBlock{
        padding: 40px;
    }
    .shadow{
        border-radius: 3%;
        background: rgba(255, 255, 255, 0.5);
        height: 75%;
    }
    .container{
        text-align: center;
        margin: auto;
        width: 50%;
        height: 150%;
        padding: 10px;
        background-image: url("http://localhost:3001/public/spilledWine.jpg");
        background-color: #cccccc;
        background-size: cover;
        background-position: center;
    }
    a {
        background-color: red;
        box-shadow: 0 5px 0 darkred;
        color: white;
        padding: 1em 1.5em;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
    }
    a:hover {
        background-color: black;
        cursor: pointer;
    }
    a:active {
        box-shadow: none;
        top: 5px;
    }